[submodule "Vector"]
	path = Vector
	url = https://github.com/wikimedia/mediawiki-skins-Vector
	branch = REL1_29
[submodule "Modern"]
	path = Modern
	url = https://github.com/wikimedia/mediawiki-skins-Modern
	branch = REL1_29
[submodule "CologneBlue"]
	path = CologneBlue
	url = https://github.com/wikimedia/mediawiki-skins-CologneBlue
	branch = REL1_29
[submodule "Monobook"]
	path = Monobook
	url = https://github.com/wikimedia/mediawiki-skins-Monobook
	branch = REL1_29
[submodule "Refreshed"]
	path = Refreshed
	url = https://github.com/wikimedia/mediawiki-skins-Refreshed
	branch = master
