[submodule "Refreshed"]
	path = Refreshed
	url = https://github.com/wikimedia/mediawiki-skins-Refreshed
	branch = master
[submodule "Vector"]
	path = Vector
	url = https://github.com/wikimedia/mediawiki-skins-Vector
	branch = REL1_28
[submodule "MonoBook"]
	path = MonoBook
	url = https://github.com/wikimedia/mediawiki-skins-MonoBook
	branch = REL1_28
[submodule "Modern"]
	path = Modern
	url = https://github.com/wikimedia/mediawiki-skins-Modern
	branch = REL1_28
[submodule "CologneBlue"]
	path = CologneBlue
	url = https://github.com/wikimedia/mediawiki-skins-CologneBlue
	branch = REL1_28
